
@import '~antd/dist/antd.css';
.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.ant-drawer-body{
  position: relative;
  height: 300px;
  width: 600px;
  padding: 1px;

}
.paragraph-on-div{
  text-decoration: overline;
}
.site-drawer-render-in-current-wrapper{
  position: relative;
  height: 100px;
  width: 400px;
  padding: 1px;
  overflow: hidden;
  background: #fafafa;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
