
@import '~antd/dist/antd.css';
.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-drawer-body{
  position: relative;
  height: 300px;
  width: 600px;
  padding: 1px;

}
.paragraph-on-div{
  text-decoration: overline;
}
.site-drawer-render-in-current-wrapper{
  position: relative;
  height: 100px;
  width: 400px;
  padding: 1px;
  overflow: hidden;
  background: #fafafa;

}

.ant-space-item{
  width:200px;
}
@media only screen and (max-width: 600px) {
  .layout{
    width: min-content;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ButtonStyle {
  cursor: pointer;
  background-color: rgb(65, 65, 216);
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
  height: 46px;
  padding: 16px 20px;
  border-radius: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.4s, background-color 0.2s;
  user-select: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
  button :hover {
    background-color: lighten(blue, 10%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }